<ion-app>

  <ion-content>
    <ion-row>
      <!--New Account Col-->
      <ion-col>
        <ion-title>
          Create new Account
        </ion-title>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Username<ion-text color="danger">*</ion-text></ion-label>
              <ion-input name="username" required="true" [(ngModel)]="userItem.username"></ion-input>
              <ion-label position="stacked">Username
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input name="username" [(ngModel)]="userItem.username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Email<ion-text color="danger">*</ion-text></ion-label>
              <ion-input name="email" type="email" required="true" [(ngModel)]="userItem.email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Password<ion-text color="danger">*</ion-text></ion-label>
              <ion-input name="password" type="password" maxlength="8" required="true" [(ngModel)]="userItem.password"></ion-input>
            </ion-item>
            <ion-item>
              <!-- TODO: confirm second password matches first one, pattern in input -->
              <ion-label position="stacked">Password<ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="password" maxlength="8" required="true"></ion-input>
              <ion-label position="stacked">Password
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input name="password" type="password" [(ngModel)]="userItem.password"></ion-input>
            </ion-item>
            <ion-item>
              <!-- TODO: confirm second password matches first one -->
              <ion-label position="stacked">Password
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input name="passwordConfirmation" type="password"></ion-input>
            </ion-item>
            <!-- Checkbox for service Providers -->
            <ion-item>
              <ion-checkbox name="isServiceProvider" [(ngModel)]="userItem.isServiceProvider" slot="start"
                            color="dark"></ion-checkbox>
              <ion-label>Register as service provider</ion-label>
            </ion-item>
            <!--Description of Service-->
            <ion-item>
              <ion-label position="stacked">Description of service</ion-label>
              <ion-textarea></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Address</ion-label>
              <ion-input name="address" [(ngModel)]="userItem.address" placeholder="Address Line 1"></ion-input>
              <ion-input name="zip" [(ngModel)]="userItem.zip" placeholder="Zip Code"></ion-input>
              <ion-input name="city" [(ngModel)]="userItem.city" placeholder="City"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Phone</ion-label>
              <ion-input name="phoneNumber" [(ngModel)]="userItem.phoneNumber"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <!--Button-->
        <ion-col size="2">
          <ion-button (click)="clickRegistration()" color="dark">Create Account</ion-button>
        </ion-col>

      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>
