<ion-app>
  <!--Toolbar and title-->
  <ion-toolbar>
    <ion-title>Welcome to our Event Management Platform!</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="more" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/profilePage']">
        <ion-icon name="contact" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>





  <ion-content>


    <router-outlet></router-outlet>

  </ion-content>
  <alert></alert>
</ion-app>



