<ion-app>

  <!--Toolbar-->
  <ion-toolbar>
    <ion-thumbnail slot="start">
      <img src="../assets/logoSloganTransparent2.svg"/>
    </ion-thumbnail>

    <ion-buttons slot="secondary" align-self-start>
      <ion-button *ngIf="loggedIn()" [routerLink]="['/login']" color="danger" (click)="logout()">
        Sign Out
      </ion-button>
      <ion-button *ngIf="loggedIn()" [routerLink]="['/home']">
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button *ngIf="loggedIn()" [routerLink]="['/profilePage']">
        <ion-icon name="contact" slot="icon-only"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>


  <ion-content>
    <router-outlet></router-outlet>

  </ion-content>
</ion-app>




