<ion-app>
  <!--Toolbar and title-->
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/profilePage']">
        <ion-icon name="contact" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="more" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Welcome to our Event Management Platform!</ion-title>
  </ion-toolbar>

  <ion-content>
    <!--
    <ion-row style="height: 100%">
      <ion-col>
        <div>
          <app-login></app-login>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <app-registration></app-registration>
        </div>
      </ion-col>
    </ion-row>
    -->
    <router-outlet></router-outlet>

  </ion-content>
  <alert></alert>
</ion-app>



