ion-button:before{
  margin: 0 5px;
}
ion-card{
  ion-card-header{
    background-image: url("../../../assets/cardBackgrounds/BalloonsBandW.jpeg");
  }
  ion-card-subtitle{
    size: 14pt

  }
  ion-card-title{
    size: 20pt;
  }
  ion-card-content{
    color: #1e2023;
  }
}

