<ion-app>
  <ion-content>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button *ngIf="userItem.isServiceProvider" [routerLink]="['/serviceRegistration']" color="olive">
          <ion-icon name="add"></ion-icon>
          <p style="margin-left:0.5em">Add a new Service</p>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="clickRandomParty()" *ngIf="!randomPartyView && !searchResultView && !randomServiceView" color="berry"
                    slot="start">
          <ion-icon name="color-wand"></ion-icon>
          <p style="margin-left:0.5em">Make me a random Party</p></ion-button>
        <ion-button (click)="clickRandomService()" *ngIf="!randomPartyView && !searchResultView &&!randomServiceView" color="berry"
                    slot="start">
          <ion-icon name="bulb"></ion-icon>
          <p style="margin-left:0.5em">Need Inspiration?</p></ion-button>
      </ion-buttons>
      <ion-button (click)="closeServices()" *ngIf="randomPartyView || searchResultView || randomServiceView" color="berry"
                  slot="end">Close
      </ion-button>
    </ion-toolbar>
    <ion-toolbar *ngIf="!randomPartyView && !searchResultView && !randomServiceView">
      <ion-searchbar [(ngModel)]="inputValue" placeholder="What do you need?" slot="start"></ion-searchbar>
      <ion-button (click)="clickSearch()" color="medium" slot="start">
        Search
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-toolbar>

    <!-- Search for Categories-->
    <div *ngIf="!randomPartyView && !searchResultView && !randomServiceView">
      <ion-col>
        <ion-button (click)="clickCategorySearch(0)" color="olive" size="medium">
          <ion-icon align-self-center color="light" name="wine" size="small"></ion-icon>
          <p style="margin-left:0.75em">Venue</p>
        </ion-button>
        <ion-button (click)="clickCategorySearch(1)" color="olive" size="medium">
          <ion-icon color="light" name="camera" size="small" slot="icon-only"></ion-icon>
          <p style="margin-left:0.75em">Photography</p>
        </ion-button>
        <ion-button (click)="clickCategorySearch(2)" color="olive" size="medium">
          <ion-icon color="light" name="restaurant" size="small" slot="icon-only"></ion-icon>
          <p style="margin-left:0.75em">Catering</p>
        </ion-button>
        <ion-button (click)="clickCategorySearch(3)" color="olive" size="medium">
          <ion-icon color="light" name="bed" size="small" slot="icon-only"></ion-icon>
          <p style="margin-left:0.75em">Hotels</p>
        </ion-button>
        <ion-button (click)="clickCategorySearch(4)" color="olive" size="medium">
          <ion-icon color="light" name="musical-notes" size="small" slot="icon-only"></ion-icon>
          <p style="margin-left:0.75em">Music</p>
        </ion-button>
        <ion-button (click)="clickCategorySearch(5)" color="olive" size="medium">
          <ion-icon color="light" name="bowtie" size="small" slot="icon-only"></ion-icon>
          <p style="margin-left:0.75em">Stylist</p>
        </ion-button>
        <ion-button (click)="clickCategorySearch(6)" color="olive" size="medium">
          <ion-icon color="light" name="rose" size="small" slot="icon-only"></ion-icon>
          <p style="margin-left:0.75em">Decoration</p>
        </ion-button>
        <ion-button (click)="clickCategorySearch(7)" color="olive" size="medium">
          <ion-icon color="light" name="clipboard" size="small" slot="icon-only"></ion-icon>
          <p style="margin-left:0.75em">Event Planner</p>
        </ion-button>
      </ion-col>
    </div>


    <div *ngIf="randomServiceView">
      <ion-card class="randomHeader" text-center>Here is some inspiration for you!
      </ion-card>
      <div *ngFor="let item of services">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="light">{{item.category}}</ion-card-subtitle>
            <ion-card-title color="dark">{{item.serviceName}}</ion-card-title>
            <ion-chip class="blackChip" color="dark" outline>
              <ion-icon name="cash"></ion-icon>
              <ion-label>{{item.price}} CHF</ion-label>
            </ion-chip>
            <ion-chip class="whiteChip" color="light" outline>
              <ion-icon name="pin"></ion-icon>
              <ion-label>{{item.location}}</ion-label>
            </ion-chip>
          </ion-card-header>
          <ion-card-content>
            <div>
              {{item.description}}
            </div>
            <ion-row>
              <ion-buttons>
                <div>
                  <ion-button align-items-end (click)="showBooking(item.serviceName, item.contactMail)" align-self-end color="dark" fill="solid" size="large"
                              slot="end">Book
                  </ion-button>
                </div>
              </ion-buttons>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div *ngIf="randomPartyView">
      <ion-card class="randomHeader" text-center>Your party has been created! Have fun!
      </ion-card>
      <div *ngFor="let item of randomServices">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="light">{{item.category}}</ion-card-subtitle>
            <ion-card-title color="dark">{{item.serviceName}}</ion-card-title>
            <ion-chip class="blackChip" color="dark" outline>
              <ion-icon name="cash"></ion-icon>
              <ion-label>{{item.price}} CHF</ion-label>
            </ion-chip>
            <ion-chip class="whiteChip" color="light" outline>
              <ion-icon name="pin"></ion-icon>
              <ion-label>{{item.location}}</ion-label>
            </ion-chip>
          </ion-card-header>
          <ion-card-content>
            <div>
              {{item.description}}
            </div>
            <ion-row>
              <ion-buttons>
                <div>
                  <ion-button align-items-end (click)="showBooking(item.serviceName, item.contactMail)" align-self-end color="dark" fill="solid" size="large"
                              slot="end">Book
                  </ion-button>
                </div>
              </ion-buttons>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </div>


    <div *ngIf="searchResultView">
      <ion-card *ngIf="services.length == 0" class="searchTitle" color="granit" text-center>No results for
        '{{category}} {{inputValue}}'
      </ion-card>
      <ion-card *ngIf="services.length >0 && inputValue!=null && category!=null" color="granit" class="searchTitle" text-center>
        Results for '{{category}} {{inputValue}}'
      </ion-card>
     <!-- <ion-card *ngIf="services.length >0 && category!=null" color="granit" class="searchTitle" text-center>
        Results for '{{category}}'
      </ion-card>-->
      <ion-card *ngIf="services.length >0 && inputValue==null && category==null" color="granit" class="searchTitle" text-center>All services
      </ion-card>
      <div *ngFor="let item of services">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="light">{{item.category}}</ion-card-subtitle>
            <ion-card-title color="dark">{{item.serviceName}}</ion-card-title>

            <ion-chip class="blackChip" color="dark" outline>
              <ion-icon name="cash"></ion-icon>
              <ion-label>{{item.price}} CHF</ion-label>
            </ion-chip>
            <ion-chip class="whiteChip" color="light" outline>
              <ion-icon name="pin"></ion-icon>
              <ion-label>{{item.location}}</ion-label>
            </ion-chip>
          </ion-card-header>
          <ion-card-content>
            <div>
              {{item.description}}
            </div>
            <ion-row>
              <ion-buttons>
                <div>
                  <ion-button align-items-end (click)="showBooking(item.serviceName, item.contactMail)" align-self-end color="dark" fill="solid" size="large"
                              slot="end">Book
                  </ion-button>
                </div>
              </ion-buttons>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

  </ion-content>
</ion-app>
