<ion-app>
  <ion-content>


    <ion-toolbar>
      <ion-searchbar placeholder="What do you need?" slot="start" [(ngModel)]="inputValue"></ion-searchbar>
      <ion-button slot="end" (click)="clickSearch()" color="medium" [routerLink]="['/search']">
        Search
        <ion-icon  name="search" slot="icon-only" ></ion-icon>
      </ion-button>
    </ion-toolbar>
    <ion-button (click)="clickRandomParty()">Make me a random Party</ion-button>
      <div *ngFor="let item of services">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="medium">{{item.category}}</ion-card-subtitle>
            <ion-card-title color="dark">{{item.serviceName}}</ion-card-title>
          </ion-card-header>
          <ion-chip color="dark" outline>
            <ion-icon name="cash"></ion-icon>
            <ion-label>{{item.price}} CHF</ion-label>
          </ion-chip>
          <ion-chip color="dark" outline>
            <ion-icon name="pin"></ion-icon>
            <ion-label>{{item.location}}</ion-label>
          </ion-chip>
          <ion-card-content>
            {{item.description}}
          </ion-card-content>
        </ion-card>
      </div>

    <!-- Search for Categories-->

    <div>
  <ion-col>
      <ion-button color="olive" size="medium" (click)="clickCategorySearch(0)" [routerLink]="['/search']" >
        <ion-icon align-self-center size="small" color="light" name="wine"></ion-icon>
        <p style="margin-left:0.75em">Venue</p>
      </ion-button>
    <ion-button color="olive" size="medium" (click)="clickCategorySearch(1)" [routerLink]="['/search']">
      <ion-icon size="small" color="light" slot="icon-only" name="camera"></ion-icon>
      <p style="margin-left:0.75em">Photography</p>
    </ion-button>
    <ion-button color="olive" size="medium" (click)="clickCategorySearch(2)" [routerLink]="['/search']">
      <ion-icon size="small" color="light" slot="icon-only" name="restaurant"></ion-icon>
      <p style="margin-left:0.75em">Catering</p>
    </ion-button>
    <ion-button color="olive" size="medium" (click)="clickCategorySearch(3)" [routerLink]="['/search']">
      <ion-icon size="small" color="light" slot="icon-only" name="bed"></ion-icon>
      <p style="margin-left:0.75em">Hotels</p>
    </ion-button>
    <ion-button color="olive" size="medium" (click)="clickCategorySearch(4)" [routerLink]="['/search']">
      <ion-icon size="small" color="light" slot="icon-only" name="musical-notes"></ion-icon>
      <p style="margin-left:0.75em">Music</p>
    </ion-button>
    <ion-button color="olive" size="medium" (click)="clickCategorySearch(5)" [routerLink]="['/search']">
      <ion-icon size="small" color="light" slot="icon-only" name="bowtie"></ion-icon>
      <p style="margin-left:0.75em">Stylist</p>
    </ion-button>
    <ion-button color="olive" size="medium" (click)="clickCategorySearch(6)" [routerLink]="['/search']">
      <ion-icon size="small" color="light" slot="icon-only" name="rose"></ion-icon>
      <p style="margin-left:0.75em">Decoration</p>
    </ion-button>
    <ion-button color="olive" size="medium" (click)="clickCategorySearch(7)" [routerLink]="['/search']">
      <ion-icon size="small" color="light" slot="icon-only" name="clipboard"></ion-icon>
      <p style="margin-left:0.75em">Event Planner</p>
    </ion-button>
  </ion-col>
    </div>



  </ion-content>
</ion-app>
