<ion-app>

  <ion-content class="ion-padding">
    <ion-buttons>
    <ion-button color="dark">
      <ion-icon name="arrow-round-back" slot="icon-only" [routerLink]="['/home']"></ion-icon>
    </ion-button>
    </ion-buttons>
    <div>
      <ion-title align-self-center color="dark">All Services</ion-title>
    </div>

    <div *ngFor="let item of services">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle color="light">{{item.category}}</ion-card-subtitle>
          <ion-card-title color="dark">{{item.serviceName}}</ion-card-title>
          <ion-chip class="blackChip" color="dark" outline>
            <ion-icon name="cash"></ion-icon>
            <ion-label>{{item.price}} CHF</ion-label>
          </ion-chip>
          <ion-chip class="whiteChip" color="light" outline>
            <ion-icon name="pin"></ion-icon>
            <ion-label>{{item.location}}</ion-label>
          </ion-chip>
        </ion-card-header>
        <ion-card-content>
          <div>
            {{item.description}}
          </div>
          <ion-row>
          <ion-buttons>
            <div>
            <ion-button align-items-end (click)="showBooking(item.serviceName, item.contactMail)" align-self-end color="dark" fill="solid" size="large"
                        slot="end">Book
            </ion-button>
            </div>
          </ion-buttons>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>

  </ion-content>
</ion-app>
