<ion-app>

  <ion-content>
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-title color="Dark">
            Register your Service:
          </ion-title>
        </ion-col>
      </ion-row>
      <form [formGroup]="serviceForm">

        <ion-row style="height: 100%">
          <ion-col>
            <div>
              <ion-item>
                <ion-input name="serviceName" [(ngModel)]="serviceItem.serviceName" placeholder="Service Name"
                           type="text"
                           formControlName="serviceName" required></ion-input>
              </ion-item>
            </div>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.serviceName">
                <div class="error-message"
                     *ngIf="serviceForm.get('serviceName').hasError(validation.type) && (serviceForm.get('serviceName').dirty || serviceForm.get('serviceName').touched)">
                  <ion-icon name="information-circle"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>

        <ion-row style="height: 100%">
          <ion-col size="5">
            <div>
              <ion-item>
                <ion-label color="dark">Category</ion-label>
                <ion-select name="category" [(ngModel)]="serviceItem.category" multiple="false"
                           interface="popover" formControlName="category">
                  <ion-select-option value="venue">Venue</ion-select-option>
                  <ion-select-option value="photography">Photography</ion-select-option>
                  <ion-select-option value="catering">Catering</ion-select-option>
                  <ion-select-option value="music">Music</ion-select-option>
                  <ion-select-option value="hotels">Hotels</ion-select-option>
                  <ion-select-option value="stylist">Stylist</ion-select-option>
                  <ion-select-option value="decoration">Decoration</ion-select-option>
                  <ion-select-option value="planner">Event planning</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-item>
                <ion-input name="price" [(ngModel)]="serviceItem.price" placeholder="Price (CHF)" type="text"
                           formControlName="price"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.price">
                  <div class="error-message"
                       *ngIf="serviceForm.get('price').hasError(validation.type) && (serviceForm.get('price').dirty || serviceForm.get('price').touched)">
                    <ion-icon name="information-circle"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-item>
                <ion-input name="location" [(ngModel)]="serviceItem.location" placeholder="Location" type="text"
                           formControlName="location"></ion-input>
              </ion-item>

              <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.location">
                  <div class="error-message"
                       *ngIf="serviceForm.get('location').hasError(validation.type) && (serviceForm.get('location').dirty || serviceForm.get('location').touched)">
                    <ion-icon name="information-circle"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="height: 100%">
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Description of service</ion-label>
              <ion-textarea name="serviceDescription" [(ngModel)]="serviceItem.description"
                            placeholder="Describe your service"
                            rows="10" formControlName="description"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </form>

      <ion-row>
        <ion-col size="2">

          <ion-button (click)="clickAddService()" [routerLink]="['/service']" color="success"
                      [disabled]="!serviceForm.valid">Add your Service
          </ion-button>

        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>

</ion-app>
