<ion-app>

  <ion-content>
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-title color="Dark">
            Register your Service:
          </ion-title>
        </ion-col>
      </ion-row>

      <ion-row style="height: 100%">
        <ion-col>
          <div>
            <ion-item>
              <ion-input [(ngModel)]="serviceItem.user" name="username" placeholder="Username" type="text"></ion-input>
            </ion-item>
          </div>
        </ion-col>

        <ion-col>
          <div>
            <ion-item>
              <ion-input [(ngModel)]="serviceItem.serviceName" placeholder="Service Name" type="text"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row style="height: 100%">
        <ion-col>
          <div>
            <ion-item>
              <ion-label color="medium">Category</ion-label>
              <ion-select [(ngModel)]="serviceItem.category" multiple="false" color="medium">
                <ion-select-option value="venue">Venue</ion-select-option>
                <ion-select-option value="photography">Photography</ion-select-option>
                <ion-select-option value="catering">Catering</ion-select-option>
                <ion-select-option value="music">Music</ion-select-option>
                <ion-select-option value="planner">Eventplanner</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row style="height: 100%">
        <ion-col>
          <div>
            <ion-item>
              <ion-input [(ngModel)]="serviceItem.price" placeholder="Price" type="number"></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-input [(ngModel)]="serviceItem.location" placeholder="Location" type="text"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row style="height: 100%">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Description of service</ion-label>
            <ion-textarea [(ngModel)]="serviceItem.description" placeholder="Describe your service" rows="10"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="2">
          <ion-button (click)="clickAddService()" [routerLink]="['/home']" color="success">Add your Service</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>

</ion-app>
