<ion-card>
  <ion-row>
    <ion-col size="6">
      <ion-input (ngModelChange)="onSave()" [(ngModel)]="todoList.name" name="name" placeholder="List Name"></ion-input>
    </ion-col>
    <ion-col size="2">
      <ion-button (click)="onDestroy()" color="danger">Delete List</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-input [(ngModel)]="todoItem.name" name="name" placeholder="Item Name"></ion-input>
    </ion-col>
    <ion-col size="2">
      <ion-button (click)="onTodoItemCreate()">Create Item</ion-button>
    </ion-col>
  </ion-row>
  <app-todo-item (destroy)="onTodoItemDestroy($event)" *ngFor="let todoItem of todoItems"
                 [todoItem]="todoItem"></app-todo-item>
</ion-card>
