<ion-app>
  <ion-content>
    <ion-grid>
    <ion-row>
      <!--Login Col-->
      <ion-col>
        <ion-title>
          Login
        </ion-title>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Username or Email</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Password</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <!--Button-->
        <ion-col size="2">
          <ion-button (click)="clickLogin()" color="dark">Login</ion-button>
        </ion-col>
      </ion-col>

    </ion-row>
    </ion-grid>
  </ion-content>

</ion-app>
