<ion-content class="ion-padding">

  <div class="login-box">

    <form (ngSubmit)="save()" #saveForm="ngForm">
      <ion-title slot="start">Hello {{userItem.username}}</ion-title>
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-header>
              <ion-toolbar>
                <ion-thumbnail slot="start">
                  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-thumbnail>
                <ion-title slot="start">{{userItem.username}}'s Profile</ion-title>
              </ion-toolbar>
            </ion-header>

            <div class="registrationForm">
              <form [formGroup]="profilePageForm">
                <!--
                <ion-item>
                  <ion-input type="password" value="" placeholder="Password" name="password"
                             formControlName="password" required></ion-input>
                  <small>Blank field don't modify password</small>
                </ion-item>
                -->
                <ion-item>
                  <ion-input type="text" placeholder="Address" value="{{userItem.address}}" name="address"
                             formControlName="address" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type="text" placeholder="Email" value="{{userItem.email}}" name="email"
                             formControlName="email" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type="text" placeholder="ZIP Code" value="{{userItem.zip}}" name="zip"
                             formControlName="zip" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type="text" placeholder="City" value="{{userItem.city}}" name="city"
                             formControlName="city" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type="phoneNumber" placeholder="Phone Number" value="{{userItem.phoneNumber}}"
                             name="phoneNumber"
                             formControlName="phoneNumber" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-checkbox name="isServiceProvider" formControlName="isServiceProvider"
                                value="{{userItem.isServiceProvider}}" slot="start"
                                color="dark"></ion-checkbox>
                  <ion-label>Service Provider</ion-label>
                </ion-item>
              </form>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <!--
          <ion-button class="submit-btn" (click)="save()"  [disabled]="!saveForm.form.valid">Save</ion-button>
          -->
          <ion-button class="submit-btn" (click)="save()">Save</ion-button>
        </ion-col>
      </ion-row>
      <ion-col>
        <ion-button color="danger" (click)="logout()">Logout</ion-button>
      </ion-col>

      <!-- TODO
      <ion-col>
        <ion-button color="warning" (click)="presentAlertConfirm()">Delete Profile</ion-button>
      </ion-col>
      -->

    </form>
  </div>

</ion-content>
