<ion-app>
  <ion-content>

    <ion-toolbar>
      <ion-searchbar placeholder="What do you need?" slot="start" [(ngModel)]="searchValue"></ion-searchbar>
      <ion-button slot="end" [routerLink]="['/search']" color="medium">
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-toolbar>

    <!-- TODO: Search for Categories, with direct link f.e.  search/venue
    <ion-row style="height: 30%">
      <ion-col>
        <div>
          <ion-title>Categorys</ion-title>
        </div>
      </ion-col>
    </ion-row>
    -->
    <div *ngIf="userItem.isServiceProvider">
      <ion-col>

        <ion-button [routerLink]="['/serviceRegistration']" color="medium">Register a new Service</ion-button>

      </ion-col>
    </div>
    <ion-col>
      <ion-button [routerLink]="['/service']" color="medium">All Services</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="secondary" [routerLink]="['/search']">My Services</ion-button>
    </ion-col>


  </ion-content>
</ion-app>

