<ion-app>
  <ion-content class="ion-padding">
    <ion-title color="dark">
      Change your Password
    </ion-title>
    <div class="changePWForm">
      <form [formGroup]="changePWForm">
        <ion-card>
          <ion-card-content>
            <ion-row>
              <div formGroupName="passwordChecker">
                <ion-item>
                  <ion-label position="stacked">Password
                    <ion-text color="danger">*</ion-text>
                  </ion-label>
                  <ion-input name="password" type="password" formControlName="password" required></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessages.password">
                    <div class="error-message"
                         *ngIf="changePWForm.get('passwordChecker').get('password').hasError(validation.type) && (changePWForm.get('passwordChecker').get('password').dirty || changePWForm.get('passwordChecker').get('password').touched)">
                      <ion-icon name="information-circle"></ion-icon>
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
                <!-- TODO: password matching-->
                <ion-item>
                  <ion-label position="stacked">Confirm password
                  </ion-label>
                  <ion-input name="passwordConfirmation" type="password" formControlName="passwordConfirmation"
                             required></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessages.passwordConfirmation">
                    <div class="error-message"
                         *ngIf="changePWForm.get('passwordChecker').get('passwordConfirmation').hasError(validation.type) && (changePWForm.get('passwordChecker').get('passwordConfirmation').dirty || changePWForm.get('passwordChecker').get('passwordConfirmation').touched)">
                      <ion-icon name="information-circle"></ion-icon>
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </div>


              <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.passwordConfirmation">
                  <div class="error-message"
                       *ngIf="changePWForm.get('passwordChecker').hasError(validation.type) && (changePWForm.get('passwordChecker').get('passwordConfirmation').dirty || changePWForm.get('passwordChecker').get('passwordConfirmation').touched)">
                    <ion-icon name="information-circle"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

            </ion-row>
          </ion-card-content>
        </ion-card>
      </form>
    </div>
    <!--Button-->
    <ion-col>
      <ion-button class="submit-btn" (click)="changePW()" [disabled]="!changePWForm.valid" color="secondary">
        <ion-icon slot="start" name="save"></ion-icon>
        Save Password
      </ion-button>
      <ion-button [routerLink]="['/profilePage']" color="danger">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancel
      </ion-button>
    </ion-col>


  </ion-content>
</ion-app>
