<ion-app>
  <ion-content class="ion-padding">
    <ion-title color="dark">
      Change your Password
    </ion-title>
    <div class="changePWForm">
      <form [formGroup]="changePWForm">
        <ion-card>
          <ion-card-content>
            <ion-row>
              <div formGroupName="passwordChecker">
                <ion-item>
                  <ion-label position="stacked">Password
                    <ion-text color="berry">*</ion-text>
                  </ion-label>
                  <ion-input formControlName="password" name="password" required type="password"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessages.password">
                    <div *ngIf="changePWForm.get('passwordChecker').get('password').hasError(validation.type) && (changePWForm.get('passwordChecker').get('password').dirty || changePWForm.get('passwordChecker').get('password').touched)"
                         class="error-message">
                      <ion-icon name="information-circle"></ion-icon>
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
                <!-- TODO: password matching-->
                <ion-item>
                  <ion-label position="stacked">Confirm password
                  </ion-label>
                  <ion-input formControlName="passwordConfirmation" name="passwordConfirmation" required
                             type="password"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessages.passwordConfirmation">
                    <div *ngIf="changePWForm.get('passwordChecker').get('passwordConfirmation').hasError(validation.type) && (changePWForm.get('passwordChecker').get('passwordConfirmation').dirty || changePWForm.get('passwordChecker').get('passwordConfirmation').touched)"
                         class="error-message">
                      <ion-icon name="information-circle"></ion-icon>
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </div>


              <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.passwordConfirmation">
                  <div *ngIf="changePWForm.get('passwordChecker').hasError(validation.type) && (changePWForm.get('passwordChecker').get('passwordConfirmation').dirty || changePWForm.get('passwordChecker').get('passwordConfirmation').touched)"
                       class="error-message">
                    <ion-icon name="information-circle"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

            </ion-row>
          </ion-card-content>
        </ion-card>
      </form>
    </div>
    <!--Button-->
    <ion-col>
      <ion-button (click)="changePW()" [disabled]="!changePWForm.valid" class="submit-btn" color="olive">
        Save Password
      </ion-button>
      <ion-button [routerLink]="['/profilePage']" color="berry">
        Cancel
      </ion-button>
    </ion-col>


  </ion-content>
</ion-app>
